<div class="match-box {% if match.winner == 'home' %}home-wins{% elif match.winner == 'away' %}away-wins{% endif %}">

    <div class="tie-card">

        <div class="tie-teams">
            <div class="team-row">
                <span class="br-team-name {% if match.winner == 'home' %}winner{% endif %}">{{ match.home }}</span>
            </div>
            <div class="team-row">
                <span class="br-team-name {% if match.winner == 'away' %}winner{% endif %}">{{ match.away }}</span>
            </div>
        </div>

        {% if not match.is_final %}
        <div class="tie-legs">
            <div class="leg">
                <span class="leg-label">A</span>
                <span class="leg-score">{{ match.legs.0.home_score }} – {{ match.legs.0.away_score }}</span>
            </div>
            <div class="leg">
                <span class="leg-label">R</span>
                <span class="leg-score">{{ match.legs.1.home_score }} – {{ match.legs.1.away_score }}</span>
            </div>
        </div>

        <div class="aggregate">
            <div class="agg-result">
                <span class="agg-label">AGG</span>
                <span class="agg-score">{{ match.aggregate_home }} – {{ match.aggregate_away }}</span>
            </div>

            {% if match.legs.1.et or match.legs.1.pen %}
            <div class="tie-decision">
                {% if match.legs.1.et %}
                <span class="decision-badge et">SUP</span>
                {% endif %}

                {% if match.legs.1.pen %}
                <span class="decision-badge pen">
                    RIG {{ match.legs.1.penalties.home_penalties }}-{{ match.legs.1.penalties.away_penalties }}
                </span>
                {% endif %}
            </div>
            {% endif %}

        {% else %}
            <div class="leg-final">
                <span class="leg-label"></span>
                <span class="leg-score">{{ match.home_score }} – {{ match.away_score }}</span>
            </div>
        {% endif %}


        </div>

    </div>

</div>