<table class="pdoro-table w-100">
    <thead>
        <tr>
            <th class="col-pos">#</th>
            <th class="col-team">Squadra</th>
            <th class="col-pts">Coeff</th>
            <th>Coeff Avg</th>
        </tr>
    </thead>
    <tbody>
        {% for team in group.ranking %}
        <!-- <tr class="
            {% if forloop.counter <= 2 %}qualified{% endif %}
            {% if forloop.last %}relegated{% endif %}
        "> -->
        <tr>
            <td class="col-pos">{{ forloop.counter }}</td>
            <td class="col-team">
                <span class="team-name">{{ team.team }}</span>
            </td>
            <td class="col-pts">{{ team.pdo }}</td>
            <td>{{ team.pdoav }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

