<table class="ranking-table w-100">
    <thead>
        <tr>
            <th class="col-pos">#</th>
            <th class="col-team">Squadra</th>
            <th class="col-pts">PT</th>
            <th>FPT</th>
            <th>PG</th>
            <th>V</th>
            <th>N</th>
            <th>P</th>
            <th>GF</th>
            <th>GS</th>
            <th>DR</th>
        </tr>
    </thead>
    <tbody>
        {% for team in group.ranking %}
        <!-- <tr class="
            {% if forloop.counter <= 2 %}qualified{% endif %}
            {% if forloop.last %}relegated{% endif %}
        "> -->
        <tr>
            <td class="col-pos">{{ forloop.counter }}</td>
            <td class="col-team">
                <span class="team-name">{{ team.team }}</span>
            </td>
            <td class="col-pts">{{ team.pt|floatformat }}</td>
            <td>{{ team.fpt|floatformat}}</td>
            <td>{{ team.pg|floatformat}}</td>
            <td>{{ team.v|floatformat }}</td>
            <td>{{ team.n|floatformat }}</td>
            <td>{{ team.p|floatformat }}</td>
            <td>{{ team.gf|floatformat }}</td>
            <td>{{ team.gs|floatformat }}</td>
            <td>{{ team.dr|floatformat }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

