<div class="tabs-div mb-4">
    <div class="stage-tabs-wrapper mb-4">
        <ul class="nav nav-pills justify-content-center stage-tabs gap-2">
            <li class="nav-item">
                <button class="stage-pill active" data-stage="girone" data-bs-target="#girone" data-bs-toggle="tab"
                    type="button">
                    GIRONI
                </button>
            </li>
            <li class="nav-item">
                <button class="stage-pill" data-stage="fase_finale" data-bs-target="#fase_finale" data-bs-toggle="tab"
                    type="button">
                    FASE FINALE
                </button>
            </li>
        </ul>
    </div>

</div>