{% extends "./base.html" %}
{% load static %}

{ % block title % } L4M2.0 - Tutte le aste { % endblock % }

{% block links %}
<link href="{% static 'l4m/css/allauctions.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/allauctions.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">
<div id="link-container" style="
  display: flex; 
  gap: 20px; 
  background-color: black; 
  padding: 20px; 
  justify-content: center;
">
  <div>
    <a href="http://lega4mori.com/l4m/allauctions/1/" 
       style="color: white; text-decoration: none; font-weight: bold; padding: 10px; display: block;">
      Serie A
    </a>
  </div>
  <div>
    <a href="http://lega4mori.com/l4m/allauctions/2/" 
       style="color: white; text-decoration: none; font-weight: bold; padding: 10px; display: block;">
      Bundesliga
    </a>
  </div>
  <div>
    <a href="http://lega4mori.com/l4m/allauctions/3/" 
       style="color: white; text-decoration: none; font-weight: bold; padding: 10px; display: block;">
      Liga
    </a>
  </div>
</div>
    <div class="bg-body-tertiary p-5 main-div" id="allTeamsDiv">
        <input id="team_players" type="hidden" value="{{team_players}}">
        <input id="balances" type="hidden" value="{{balances}}">      
    </div>
</div>
{% endblock %}
