{% extends "./base.html" %}
{% load static %}

{% block title %} L4M2.0 - Asta {% endblock %}

{% block links %}
<link href="{% static 'l4m/css/auction.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/auction.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">
    
    <div class="alert alert-success alert-hidden fade in" role="alert" id="official-alert">
        UFFICIALE!
    </div>
    
    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
            <span id="span-error-alert"></span>
    </div>
    
    <div class="bg-body p-5-custom main-div">
        <section class="auction-hero">
        
        {% include "l4m/generic/generic_hero.html" with hero_title="Mercato" hero_subtitle=Asta hero_logo="auction.png" %}

        </section>

        <section class="auction-summary container">

            <div class="summary-card">
                <span class="summary-label">Monte acquisti</span>
                <span class="summary-value" id="main-balance">
                    {{ balance.Purchases_max }} FML
                </span>
            </div>

            <div class="summary-card">
                <span class="summary-label">Residui</span>
                <span class="summary-value" id="main-residual">
                    {{ residual }} FML
                </span>
            </div>

            <div class="summary-card">
                <span class="summary-label">Carognate</span>
                <span class="summary-value" id="main-carognate">
                    {{ n_carognate }}/ {{max_carognate}}
                </span>
            </div>

            <div class="summary-card">
                <span class="summary-label">Aste</span>
                <span class="summary-value">
                    {{ active_auctions }}
                </span>
            </div>

        </section>

        <section class="auction-roster container">

            <div class="roster-section">

                <div class="roster-header">

                    <span>Portieri</span>

                    <span class="roster-counter">
                        2 / 3
                    </span>

                </div>

                <div class="roster-grid">

                    <div class="roster-card empty">

                        +

                    </div>

                </div>

            </div>

            <div class="roster-section">

                <div class="roster-header">
                
                    <span>Difensori</span>
                
                    <span class="roster-counter">
                        2 / 8
                    </span>
                
                </div>
                
                <div class="roster-grid">
                
                    <div class="roster-card bidding">
                
                        <div class="player-name">
                
                            Theo Hernandez
                
                        </div>
                
                        <div class="player-price">
                
                            57 FML
                
                        </div>
                
                        <div class="player-status">
                
                            ⏳ 12h
                
                        </div>
                
                    </div>
                
                    <div class="roster-card bidding">
                
                        <div class="player-name">
                
                            Theo Hernandez
                
                        </div>
                
                        <div class="player-price">
                
                            57 FML
                
                        </div>
                
                        <div class="player-status">
                
                            ⏳ 12h
                
                        </div>
                
                    </div>
                
                </div>

            </div>

            <div class="roster-section">

                <div class="roster-header">

                    <span>Centrocampisti</span>

                    <span class="roster-counter">
                        2 / 8
                    </span>

                </div>

                <div class="roster-grid">
                
                    <div class="roster-card official">
                
                        <div class="player-name">
                            Maignan
                        </div>
                
                        <div class="player-price">
                            41 FML
                        </div>
                
                        <div class="player-status">
                
                            ✔
                
                        </div>
                
                    </div>
                
                </div>

            </div>

            <div class="roster-section">

                <div class="roster-header">
                
                    <span>Attaccanti</span>
                
                    <span class="roster-counter">
                        3 / 8
                    </span>
                
                </div>
                
                <div class="roster-grid">
                
                    <div class="roster-card official">
                
                        <div class="player-name">
                            Maignan
                        </div>
                
                        <div class="player-price">
                            41 FML
                        </div>
                
                        <div class="player-status">
                
                            ✔
                
                        </div>
                
                    </div>
                
                    <div class="roster-card empty">
                
                        +
                
                    </div>
                
                </div>

            </div>

        </section>

        <section class="auction-market container">
            <ul class="nav nav-pills role-tabs">
        
                P
        
                D
        
                C
        
                A
        
            </ul>

            <div class="market-search">

                <input
                    class="form-control"
                    placeholder="Cerca giocatore">

            </div>

            <div class="player-grid">

                {% for player in players %}

                    ...

                {% endfor %}

            </div>

            <div class="player-card">

            <!-- <div class="player-top">

                <div>

                    <div class="player-surname">

                        Leao

                    </div>

                    <div class="player-team">

                        Milan

                    </div>

                </div>

                <span class="role-badge">

                    A

                </span>

            </div>

            <div class="player-current">

                <span>

                    Offerta

                </span>

                <strong>

                    87

                </strong>

            </div>

            <div class="player-owner">

                Marco

            </div>

            <div class="player-expiration">

                ⏳ 02:13

            </div>

            <button class="btn btn-primary w-100">

                Punta

            </button>

        </div> -->

        </section>

    </div>
</div>
{% endblock %}
