{% extends "./base.html" %}
{% load static %}

{% block title %} L4M2.0 - Asta {% endblock %}

{% block links %}
<link href="{% static 'l4m/css/auction.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/auction.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">
    <div class="alert alert-success alert-hidden fade in" role="alert" id="official-alert">
        UFFICIALE!
    </div>
    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
            <span id="span-error-alert"></span>
    </div>
    <div class="bg-body p-5-custom main-div">
        <div class="balance-div" id="balance_div">
            
            <div id="mkt_div" class="mkt-div" >
                <span class="mkt-span">STATUS MERCATO </span>
                    {% if session %}
                        <img src="{% static 'l4m/images/green.png' %}">
                        <img src="{% static 'l4m/images/info_mark.png' %}" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right" 
                            data-bs-html="true"
                            data-bs-title="{{session.Name}}<br>INIZIO {{session.Begin}}<br>FINE {{session.End}}">
                    {% else %} 
                        <img src="{% static 'l4m/images/red.png' %}">
                        <img src="{% static 'l4m/images/info_mark.png' %}"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right" 
                            data-bs-html="true"
                            data-bs-title="{{session.Name}}<br>INIZIO {{session.Begin}}<br>FINE {{session.End}}">
                     {% endif %}
            </div>
            <div>
                <div>
                    <span class="carognate-label">Carognate </span>
                    <span class="carognate-info" id="main-carognate">{{n_carognate}} / {{max_carognate}}</span>
                </div>
                <div>
                    <span class="carognate-label">Svincoli </span>
                    <span class="carognate-info" id="main-svincoli">{{n_svincoli}} / {{max_svincoli}}</span>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#showFreeModal" id="showFreeBtn">MOSTRA SVINCOLATI</button>
            <div class="balances">
                <div class="balance">
                    <span class="balance-label">Monte acquisti</span>
                    <span class="balance-info" id="main-balance">{{balance.Purchases_max}} FML</span>
                </div>
                <div class="balance">
                    <span class="balance-label">Restante</span>
                    <span class="balance-info" id="main-residual">{{residual}} FML</span>
                </div>
            </div>
        </div>
        <!-- Canvas? React? Divs? -->
        <input id="user_team_id" type="hidden" value="{{user_team.id}}">
        <input id="user_team_name" type="hidden" value="{{user_team.Name}}">
        <input id="my_best_bets" type="hidden" value="{{my_best_bets}}">
        <input id="my_balance" type="hidden" value="{{balance}}">
        <input id="my_market" type="hidden" value="{{my_market}}">
        <input id="my_balance_max" type="hidden" value="{{balance.Purchases_max}}">
        <input id="current_session" type="hidden" value="{{session.id}}">

        <div class="modal fade" id="showFreeModal" tabindex="-1" role="dialog"
            aria-labelledby="showFreeModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="showFreeModalLabel">LISTA SVINCOLATI</h4>
                        <span class="close" id="closeGk" data-bs-dismiss="modal" ><img
                            src="{% static 'l4m/images/close-blue.png' %}"></span>
                    </div>
                    <div class="modal-body free-checks">
                        <div class="form-switch form-floating form-switch-md form-check-inline">
                            <input class="form-check-input" type="checkbox" id="freeGks" value="fgk" role="switch">
                            <label class="form-check-label free-check-label" for="freeGks">P</label>
                        </div>
                        <div class="form-switch form-floating form-switch-md form-check-inline">
                            <input class="form-check-input" type="checkbox" id="freeDfs" value="fdf" role="switch">
                            <label class="form-check-label free-check-label" for="freeDefs">D</label>
                        </div>
                        <div class="form-switch form-floating form-switch-md form-check-inline">
                            <input class="form-check-input" type="checkbox" id="freeCcs" value="fcc" role="switch">
                            <label class="form-check-label free-check-label" for="freeCcs">C</label>
                        </div>
                        <div class="form-switch form-floating form-switch-md form-check-inline">
                            <input class="form-check-input" type="checkbox" id="freeFws" value="ffw" role="switch">
                            <label class="form-check-label free-check-label" for="freeFws">A</label>
                        </div>
                    </div>

                    <div id="freePlayersList">
                        <!-- <input id="modal-ob-search_gk" type="text" onkeyup="searchPlayer('gk')" placeholder="Cerca giocatore" class="modal-form-input"> -->
                        <dl id="dataList_free" class="dl-class">
                            {% for fp in free_players %}
                            <dt class="dt-free-content" data-role="{{fp.Role}}">
                                [{{fp.Role}}]
                                {{fp.Surname}}
                                ({{fp.RealTeam__Name}})
                    
                                {% if fp.bet__Amount != None and not fp.bet__IsExpired %}
                                <span class="temp_amount">[puntato a {{fp.bet__Amount}} da
                                    {{fp.bet__Team_id__Name}}]</span>
                                {% endif %}
                    
                                {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="preOfficialModal" tabindex="-1" role="dialog"
            aria-labelledby="preOfficialModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="preOfficialModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="official-modal-title">UFFICIALIZZARE IL GIOCATORE?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">DOPO</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            onclick="finalizeBet()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="freeModal" tabindex="-1" role="dialog"
            aria-labelledby="freeModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="freeModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="free-modal-title" id="freeModalTitle">SVINCOLARE ?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="freeBtn">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="modal fade" id="carognataModal" tabindex="-1" role="dialog"
            aria-labelledby="carognataModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="carognataModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="official-modal-title">RILANCIO CAROGNA?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        <button id="carognataOkBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div> -->

        <dialog id="dlg_gk_open" class="dlg-main">
            <div class="modal-header">
                <span class="close" id="closeGk" onclick="closeDlg(this)"><img
                        src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search_gk" type="text" onkeyup="searchPlayer('gk')" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList_gk" class="dl-class">
                    {% for player_gk in players_gk %}
                    <dt class="dt-content" data-id="{{player_gk.id}}" data-surname="{{player_gk.Surname}}"
                        data-role="{{player_gk.Role}}" data-realteam="{{player_gk.RealTeam__Name}}"
                        data-betamount="{{player_gk.bet__Amount}}" data-betexpdate="{{player_gk.bet__Expiration_Date}}"
                        data-betteam="{{player_gk.bet__Team_id__Name}}" data-carognata="{{player_gk.bet__Carognata}}">
                        {{player_gk.Surname}}
                        ({{player_gk.RealTeam__Name}})

                        {% if player_gk.bet__Amount != None and not player_gk.bet__IsExpired %}
                        <span class="temp_amount">[puntato a {{player_gk.bet__Amount}} da
                            {{player_gk.bet__Team_id__Name}}]</span>
                        {% endif %}
                        
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <dialog id="dlg_df_open" class="dlg-main">
            <div class="modal-header">
                <span class="close" id="closedf" onclick="closeDlg(this)"><img
                        src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search_def" type="text" onkeyup="searchPlayer('def')" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList_def" class="dl-class">
                    {% for player_def in players_def %}
                    <dt class="dt-content" data-id="{{player_def.id}}" data-surname="{{player_def.Surname}}"
                        data-role="{{player_def.Role}}" data-realteam="{{player_def.RealTeam__Name}}"
                        data-betamount="{{player_def.bet__Amount}}"
                        data-betexpdate="{{player_def.bet__Expiration_Date}}"
                        data-betteam="{{player_def.bet__Team_id__Name}}" data-carognata="{{player_def.bet__Carognata}}">
                        {{player_def.Surname}}
                        ({{player_def.RealTeam__Name}})
                        {% if player_def.bet__Amount != None and not player_def.bet__IsExpired %}
                        <span class="temp_amount">[puntato a {{player_def.bet__Amount}} da
                            {{player_def.bet__Team_id__Name}}]</span>
                        {% endif %}
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <dialog id="dlg_cc_open" class="dlg-main">
            <div class="modal-header">
                <span class="close" id="closecc" onclick="closeDlg(this)"><img
                        src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search_cc" type="text" onkeyup="searchPlayer('cc')" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList_cc" class="dl-class">
                    {% for player_cc in players_cc %}
                    <dt class="dt-content" data-id="{{player_cc.id}}" data-surname="{{player_cc.Surname}}"
                        data-role="{{player_cc.Role}}" data-realteam="{{player_cc.RealTeam__Name}}"
                        data-betamount="{{player_cc.bet__Amount}}" data-betexpdate="{{player_cc.bet__Expiration_Date}}"
                        data-betteam="{{player_cc.bet__Team_id__Name}}" data-carognata="{{player_cc.bet__Carognata}}">
                        {{player_cc.Surname}}
                        ({{player_cc.RealTeam__Name}})
                        {% if player_cc.bet__Amount != None and not player_cc.bet__IsExpired %}
                        <span class="temp_amount">[puntato a {{player_cc.bet__Amount}} da
                            {{player_cc.bet__Team_id__Name}}]</span>
                        {% endif %}
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <dialog id="dlg_fw_open" class="dlg-main">
            <div class="modal-header">
                <span class="close" id="closefw" onclick="closeDlg(this)"><img
                        src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search_fw" type="text" onkeyup="searchPlayer('fw')" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList_fw" class="dl-class">
                    {% for player_fw in players_fw %}
                    <dt class="dt-content" data-id="{{player_fw.id}}" data-surname="{{player_fw.Surname}}"
                        data-role="{{player_fw.Role}}" data-realteam="{{player_fw.RealTeam__Name}}"
                        data-betamount="{{player_fw.bet__Amount}}" data-betexpdate="{{player_fw.bet__Expiration_Date}}"
                        data-betteam="{{player_fw.bet__Team_id__Name}}" data-carognata="{{player_fw.bet__Carognata}}">
                        {{player_fw.Surname}}
                        ({{player_fw.RealTeam__Name}})
                        {% if player_fw.bet__Amount != None and not player_fw.bet__IsExpired %}
                        <span class="temp_amount">[puntato a {{player_fw.bet__Amount}} da
                            {{player_fw.bet__Team_id__Name}}]</span>
                        {% endif %}
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <div class="modal fade" id="dlg_player_info" tabindex="-1" role="dialog" aria-labelledby="playerInfoLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="playerInfoLabel"></h4>
                    </div>
                    <div id="plr_info_modal_body" class="modal-body plr-info">
                        <div id="modal-pl-anag" class="modal-anag">
                            <div id="modal-pl-avatar" class="modal-avatar">
                                <img src="{% static 'l4m/images/profile.png' %}">
                            </div>
                            <input id="modal-pl-info-name" type="text" class="modal-form-input-anag" readonly>
                            <input id="modal-pl-info-realteam" type="text" class="modal-form-input-anag" readonly>
                            <input id="modal-pl-info-role" type="text" class="modal-form-input-anag" readonly>
                        </div>
                        <div id="modal-pl-bet" class="modal-bet">
                            <div class="modal-bet-amount">
                                <span class="modal-label">Puntata</span>
                                <input id="modal-pl-info-betamount" type="number" min="1" max="{{balance_for_bets}}" value="1"
                                    class="modal-form-input-bet" readonly>
                            </div>
                            <div id="modal-currentbet" class="modal-form-input-currentbet">
                                <span id="span-betexpire" class="modal-label-bestbet">Scadenza</span>
                                <input id="modal-pl-info-betexpdate" type="text" class="modal-form-input-bettime"
                                    readonly>
                                <input id="modal-pl-info-temp-expired" type="text" class="modal-form-input-bettime"
                                    readonly hidden>
                                <span id="span-bestbetteam" class="modal-label-bestbet">Squadra con migliore
                                    offerta</span>
                                <input id="modal-pl-info-bestbetteam" type="text" class="modal-form-input-betteam"
                                    readonly>
                            </div>
                        </div>
                        <!-- RAISED - FUTURE DEV -->
                        <div id="modal-bet-raised" class="modal-footer" hidden>
                            <button type="button" class="btn btn-primary" id="btnAddBet" onclick="addBet()"
                                disabled>Aggiungi la
                                puntata alla lista</button>
                            <button type="button" class="btn btn-primary" id="btnSendBet" onclick="sendBet()">Conferma
                                la
                                puntata</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" id="preFreeBtn" data-bs-dismiss="modal" hidden>SVINCOLA</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CHIUDI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <dialog id="dlg_player_open" class="dlg-player">
            <div class="modal-header">
                <p></p>
                <span class="closeP" id="closePlayer" onclick="closeDlg(this)"><img
                        src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <div id="modal-pl-anag" class="modal-anag">
                    <div id="modal-pl-avatar" class="modal-avatar">
                        <img src="{% static 'l4m/images/profile.png' %}">
                    </div>
                    <input id="modal-pl-id" type="hidden">
                    <input id="modal-pl-carognata" type="hidden">
                    <input id="modal-pl-name" type="text" class="modal-form-input-anag" readonly>
                    <input id="modal-pl-realteam" type="text" class="modal-form-input-anag" readonly>
                    <input id="modal-pl-role" type="text" class="modal-form-input-anag" readonly>
                </div>
                <div id="notafford_div" class="notafford-div">
                    <span id="notafford" class="not-afford" hidden>FUORI BUDGET!</span>
                </div>
                 <div id="carognata_div" class="carognata-div">
                    <span id="carognata_span" class="carognata-span" hidden>RILANCIO CAROGNA</span>
                </div>
                <div id="modal-pl-bet" class="modal-bet">
                    <span class="modal-label modal-label-bet" id="modal-label-bet">PUNTATA (MIN: _minbet_ MAX: _maxbet_)</span>
                    <div id="modal_bet_add" class="modal-bet-add">
                        <input id="modal-pl-betamount" type="number" min="1" max="{{balance_for_bets}}" value="1" class="modal-form-input-bet">
                        <button type="button" class="btn btn-primary btn-add-bet" id="btnplus1">+1</button>
                        <button type="button" class="btn btn-primary btn-add-bet" id="btnplus5">+5</button>
                    </div>
                    <div id="modal-currentbet" class="modal-form-input-currentbet">
                        <span id="span-betexpire" class="modal-label-bestbet">Scadenza</span>
                        <input id="modal-pl-betexpdate" type="text" class="modal-form-input-bettime" readonly>
                        <span id="span-bestbetteam" class="modal-label-bestbet">Squadra con migliore offerta</span>
                        <input id="modal-pl-bestbetteam" type="text" class="modal-form-input-betteam" readonly>
                        <span id="span-bestbet" class="modal-label-bestbet">Migliore offerta</span>
                        <input id="modal-pl-bestbet" type="text" class="modal-form-input-betteamvalue" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddBet" onclick="addBet()" disabled>Aggiungi la
                    puntata alla lista</button>
                <button type="button" class="btn btn-primary" id="btnSendBet" onclick="sendBet()">Conferma la
                    puntata</button>
            </div>
        </dialog>

        <div class="div-container" id="main-div-container">
            <div class="gk-container" id="gks">
                <div id="gk1_div" class="pl-div" onclick="openDialog('gk1')">
                    <input type="text" id="gk1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="gk2_div" class="pl-div" onclick="openDialog('gk2')">
                    <input type="text" id="gk2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="gk3_div" class="pl-div" onclick="openDialog('gk3')">
                    <input type="text" id="gk3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>

            <div class="def-container" id="defs">
                <div id="df1_div" class="pl-div" onclick="openDialog('df1')">
                    <input type="text" id="def1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df2_div" class="pl-div" onclick="openDialog('df2')">
                    <input type="text" id="def2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df3_div" class="pl-div" onclick="openDialog('df3')">
                    <input type="text" id="def3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df4_div" class="pl-div" onclick="openDialog('df4')">
                    <input type="text" id="def4" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df5_div" class="pl-div" onclick="openDialog('df5')">
                    <input type="text" id="def5" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df6_div" class="pl-div" onclick="openDialog('df6')">
                    <input type="text" id="def6" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df7_div" class="pl-div" onclick="openDialog('df7')">
                    <input type="text" id="def7" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df8_div" class="pl-div" onclick="openDialog('df8')">
                    <input type="text" id="def8" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>

            <div class="cc-container" id="ccs">
                <div id="cc1_div" class="pl-div" onclick="openDialog('cc1')">
                    <input type="text" id="cc1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc2_div" class="pl-div" onclick="openDialog('cc2')">
                    <input type="text" id="cc2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc3_div" class="pl-div" onclick="openDialog('cc3')">
                    <input type="text" id="cc3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc4_div" class="pl-div" onclick="openDialog('cc4')">
                    <input type="text" id="cc4" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc5_div" class="pl-div" onclick="openDialog('cc5')">
                    <input type="text" id="cc5" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc6_div" class="pl-div" onclick="openDialog('cc6')">
                    <input type="text" id="cc6" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc7_div" class="pl-div" onclick="openDialog('cc7')">
                    <input type="text" id="cc7" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc8_div" class="pl-div" onclick="openDialog('cc8')">
                    <input type="text" id="cc8" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>

            <div class="fw-container" id="fws">
                <div id="fw1_div" class="pl-div" onclick="openDialog('fw1')">
                    <input type="text" id="fw1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw2_div" class="pl-div" onclick="openDialog('fw2')">
                    <input type="text" id="fw2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw3_div" class="pl-div" onclick="openDialog('fw3')">
                    <input type="text" id="fw3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw4_div" class="pl-div" onclick="openDialog('fw4')">
                    <input type="text" id="fw4" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw5_div" class="pl-div" onclick="openDialog('fw5')">
                    <input type="text" id="fw5" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw6_div" class="pl-div" onclick="openDialog('fw6')">
                    <input type="text" id="fw6" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
