{% extends "./base.html" %}
{% load static %}

{ % block title % } L4M2.0 - Calcolo giornate { % endblock % }

{% block links %}
<link href="{% static 'l4m/css/dashboard.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/dashboard.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
            <span id="span-error-alert"></span>
    </div>

    <div class="alert alert-success" role="alert" id="info-alert" hidden>
            <span id="span-info-alert"></span>
    </div>

    <div class="bg-body-tertiary main-div p-5" id="dashboardDiv">
        <div class="form-floating top-line">
            
            
        </div>
        <div class="rankings" id="l_ups">
            

        </div>

        
    </div>
</div>
{% endblock %}