{% extends "./base.html" %}
{% load static %}

{ % block title % } L4M2.0 - Calcolo giornate { % endblock % }

{% block links %}
<link href="{% static 'l4m/css/calculate.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/calculate.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
        <span id="span-error-alert"></span>
    </div>

    <div class="alert alert-success" role="alert" id="info-alert" hidden>
        <span id="span-info-alert"></span>
    </div>

    <div class="bg-body-tertiary main-div p-5" id="calculateDiv">
        <div class="selectors-div">
            <label for="select_comp" class="series-label">COMPETIZIONE</label>
            <select class="form-select form-select-lg mb-3 form-select-selectors" id="select_comp">
                {% for comp in all_competitions %}
                <option value="{{comp}}" data-id="{{comp.id}}">{{comp.Name}}</option>
                {% endfor %}
            </select>

            <label for="select_day" class="series-label">GIORNATA</label>
            <select class="form-select form-select-lg mb-3 form-select-selectors" id="select_day">

            </select>
        </div>

        <button type="button" class="btn btn-primary calculate-btn" id="btnCalculate">
            CALCOLA
        </button>

    </div>
    {% endblock %}