{% extends "./base.html" %}
{% load static %}

{% block title %} L4M2.0 - Calcolo giornate {% endblock %}

{% block links %}
<link href="{% static 'l4m/css/calculate.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/calculate.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
        <span id="span-error-alert"></span>
    </div>

    <div class="alert alert-success" role="alert" id="info-alert" hidden>
        <span id="span-info-alert"></span>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="confirmModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <p id="modal-text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-body-tertiary main-div p-5" id="calculateDiv">
        <div class="selectors-div">
            <div class="comp-div">
                <label for="select_comp" class="series-label">COMPETIZIONE</label>
                <select class="form-select form-select-lg mb-3 form-select-selectors" id="select_comp" disabled>
                    {% for comp in all_competitions %}
                    <option value="{{comp}}" data-id="{{comp.id}}">{{comp.Name}}</option>
                    {% endfor %}
                </select>
                <div class="div-all-comp">
                    <input class="form-check-input" type="checkbox" checked id="allCompChk">
                    <label class="form-check-label" for="flexCheckDefault">
                        Calcola per tutte le competizioni
                    </label>
                </div>
            </div>

            <div class="day-div">
                <label for="select_day" class="series-label">GIORNATA</label>
                <select class="form-select form-select-lg mb-3 form-select-selectors" id="select_day"> </select>
                <span class="calculated" hidden>CALCOLATA</span>
            </div>
        </div>

        <div class="calculation-div">
            <button type="button" class="btn btn-primary calculate-btn" id="btnCalculate">
                CALCOLA
            </button>

            <div class="spinner-border text-primary spinner-div" role="status" id="spinner" hidden>
            </div>
        </div>

        <div class="curr-day-div">
            <label for="cur-day-val" class="series-label">GIORNATA CORRENTE</label>
            <div class="div-advance">
                <input type="text" class="cur-day-text" id="cur-day-val" value="{{current_day}}" readonly>
                <button type="button" class="btn btn-primary advance-day-btn" id="btnAdvanceDay">AVANZA</button>
                <button type="button" class="btn btn-primary advance-day-btn" id="btnSetDay" disabled>IMPOSTA</button>
            </div>
            <div class="div-custom-day">
                <input class="form-check-input" type="checkbox" value="" id="customDayChk">
                <label class="form-check-label" for="flexCheckDefault">
                    Imposta giornata custom
                </label>
            </div>
        </div>

    </div>
    {% endblock %}