{% extends "./base.html" %}
{% load static %}

{% block title %} L4M2.0 - Panoramica squadra {% endblock %}

{% block links %}
<link href="{% static 'l4m/css/dashboard.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/dashboard.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
        <span id="span-error-alert"></span>
    </div>

    <div class="alert alert-success" role="alert" id="info-alert" hidden>
        <span id="span-info-alert"></span>
    </div>

    <div class="bg-body-tertiary main-div" id="dashboardDiv">
        <div class="row featurette">
          <div class="col-md-7 team-name-dash">
            <h1 class="featurette-heading fw-normal lh-1 display-1">
              {{teamname}}
            </h1>
          </div>
          <div class="col-md-5 team-logo">
            {% if logo_path %}
            {% static 'l4m/images/logos/' as logos_path %} 
            <img src="{{logos_path}}{{logo_path}}" loading="lazy" 
                class="featurette-image" >
            {% else %}
            <img src="{% static 'l4m/images/logo.jpeg' %}" loading="lazy" 
                class="featurette-image" >
            {% endif %}
          </div>
        </div>

        <hr class="featurette-divider" />

        <section id="rankings" class="content-section bg-dark rankings">
            <input type="hidden" id="day" value="{{day}}">
            <input type="hidden" id="main_league" value="{{main_league.id}}">
            <input type="hidden" id="my_main_league_series" value="{{my_main_league_series.id}}">
            <span class="rankings-title">CLASSIFICA</span>
            <div class="card mb-4">
                <div class="card-header">
                    <div class="top-table">
                        <!-- <h1 class="mt-4 h3 mb-2 text-gray-800">OPEN PROPOSALS</h1> -->
                        <select class="form-select form-select-lg mb-3 form-select-selectors" id="select_comp">
                            {% for comp in my_competitions %}
                            <option value="{{comp}}" data-id="{{comp.id}}">{{comp.Name}}</option>
                            {% endfor %}
                        </select>
                        <select class="form-select form-select-lg mb-3 form-select-series" id="select_series">
                            {% for s in all_campionato_series %}
                            <option value="{{s}}" data-id="{{s.id}}" {% if s.id == my_main_league_series.id %} selected {% endif %}>{{s.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="card shadow mb-4">
                        <!-- <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Proposals to evaluate</h6>
                        </div> -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered stripe" id="rankingDataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Squadra</th>
                                            <th>Punti</th>
                                            <th>FantaPunti</th>
                                            <th>PG</th>
                                            <th>V</th>
                                            <th>N</th>
                                            <th>P</th>
                                            <th>GF</th>
                                            <th>GS</th>
                                            <th>DR</th>
                                        </tr>
                                    </thead>
                                    <tbody class="rank-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>
{% endblock %}