{% extends "./base.html" %}
{% load static %}

{ % block title % } L4M2.0 - Asta { % endblock % }

{% block links %}
<link href="{% static 'l4m/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="bg-body-tertiary p-5 rounded mt-3">
        <h1>ROSA</h1>
        <!-- Canvas? React? Divs? -->
        <!-- <canvas id="can" class="can-style"></canvas> -->
        <input id="user_team_id" type="hidden" value="{{user_team.id}}">
        <input id="user_team_name" type="hidden" value="{{user_team.Name}}">
        <input id="my_best_bets" type="hidden" value="{{my_best_bets}}">

        <dialog id="dlg open">
            <div class="modal-header">
                <span class="close" id="closeMain"><img src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search" type="text" onkeyup="searchPlayer()" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList">
                    {% for player_gk in players_gk %}
                    <dt class="dt-content" data-id="{{player_gk.id}}" data-surname="{{player_gk.Surname}}"
                        data-role="{{player_gk.Role}}" data-realteam="{{player_gk.RealTeam__Name}}"
                        data-betamount="{{player_gk.bet__Amount}}" data-betexpdate="{{player_gk.bet__Expiration_Date}}"
                        data-betteam="{{player_gk.bet__Team_id__Name}}">
                        {{player_gk.Surname}}
                        ({{player_gk.RealTeam__Name}})
                        {% if player_gk.bet__Amount != None %}
                        <span class="temp_amount">[puntato a {{player_gk.bet__Amount}} da {{player_gk.bet__Team_id__Name}}]</span>
                        {% endif %}
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <dialog id="dlg_player open" class="dlg-player">
            <div class="modal-header">
                <p></p>
                <span class="close" id="closePlayer"><img src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <div id="modal-pl-anag" class="modal-anag">
                    <div id="modal-pl-avatar" class="modal-avatar">
                        <img src="{% static 'l4m/images/profile.png' %}">
                    </div>
                    <input id="modal-pl-id" type="hidden">
                    <input id="modal-pl-name" type="text" class="modal-form-input-anag" readonly>
                    <input id="modal-pl-realteam" type="text" class="modal-form-input-anag" readonly>
                    <input id="modal-pl-role" type="text" class="modal-form-input-anag" readonly>
                </div>
                <div id="modal-pl-bet" class="modal-bet">
                    <span class="modal-label">Puntata</span>
                    <input id="modal-pl-betamount" type="number" min="1" value="1" class="modal-form-input-bet">
                    <div id="modal-currentbet" class="modal-form-input-currentbet">
                        <span id="span-betexpire" class="modal-label-bestbet">Scadenza</span>
                        <input id="modal-pl-betexpdate" type="text" class="modal-form-input-bettime" readonly>
                        <span id="span-bestbetteam" class="modal-label-bestbet">Squadra con migliore offerta</span>
                        <input id="modal-pl-bestbetteam" type="text" class="modal-form-input-betteam" readonly>
                        <span id="span-bestbet" class="modal-label-bestbet">Migliore offerta</span>
                        <input id="modal-pl-bestbet" type="text" class="modal-form-input-betteamvalue" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddBet" onclick="addBet()">Aggiungi la
                    puntata alla lista</button>
                <button type="button" class="btn btn-primary" id="btnSendBet" onclick="sendBet()">Conferma la
                    puntata</button>
            </div>
        </dialog>

        <div class="div-container" id="main-div-container">
            <div class="gk-container" id="gks">
                {% if my_best_bets.Slot == "gk1_div" %}
                    <div id="gk1_div_full" class="plr-full">
                        <div class="plr-full-r1">
                            <input type="text" id="gk1_div_name" class="inputFullName" value="" readonly>
                            <input type="text" id="gk1_div_cost" class="inputFullAmount" value="${row.betamount}" readonly>
                        </div>
                        <div class="plr-full-r2">
                            <input type="text" id="gk1_div_exp" class="inputFullExp" value="${row.exp_date}" readonly>
                        </div>
                    </div>
                {% endif %}
                <div id="gk1_div" class="pl-div" onclick="openDialog('gk1')">
                    <input type="text" id="gk1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="gk2_div" class="pl-div" onclick="openDialog('gk2')">
                    <input type="text" id="gk2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="gk3_div" class="pl-div" onclick="openDialog('gk3')">
                    <input type="text" id="gk3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}