{% extends "./base.html" %}
{% load static %}

{ % block title % } L4M2.0 - Asta { % endblock % }

{% block links %}
<link href="{% static 'l4m/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="bg-body-tertiary p-5 rounded mt-3">
        <h1>ROSA</h1>
        <!-- Canvas? React? Divs? -->
        <!-- <canvas id="can" class="can-style"></canvas> -->
        <input id="user_team_id" type="hidden" value="{{user_team.id}}">
        <input id="user_team_name" type="hidden" value="{{user_team.Name}}">
        <input id="my_best_bets" type="hidden" value="{{my_best_bets}}">

        <dialog id="dlg_gk_open">
            <div class="modal-header">
                <span class="close" id="closeGk" onclick="closeDlg(this)"><img src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search" type="text" onkeyup="searchPlayer()" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList">
                    {% for player_gk in players_gk %}
                    <dt class="dt-content" data-id="{{player_gk.id}}" data-surname="{{player_gk.Surname}}"
                        data-role="{{player_gk.Role}}" data-realteam="{{player_gk.RealTeam__Name}}"
                        data-betamount="{{player_gk.bet__Amount}}" data-betexpdate="{{player_gk.bet__Expiration_Date}}"
                        data-betteam="{{player_gk.bet__Team_id__Name}}">
                        {{player_gk.Surname}}
                        ({{player_gk.RealTeam__Name}})
                        {% if player_gk.bet__Amount != None %}
                            <span class="temp_amount">[puntato a {{player_gk.bet__Amount}} da {{player_gk.bet__Team_id__Name}}]</span>
                        {% endif %}
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <dialog id="dlg_df_open">
            <div class="modal-header">
                <span class="close" id="closedf" onclick="closeDlg(this)"><img src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search" type="text" onkeyup="searchPlayer()" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList">
                    {% for player_def in players_def %}
                    <dt class="dt-content" data-id="{{player_def.id}}" data-surname="{{player_def.Surname}}"
                        data-role="{{player_def.Role}}" data-realteam="{{player_def.RealTeam__Name}}"
                        data-betamount="{{player_def.bet__Amount}}" data-betexpdate="{{player_def.bet__Expiration_Date}}"
                        data-betteam="{{player_def.bet__Team_id__Name}}">
                        {{player_def.Surname}}
                        ({{player_def.RealTeam__Name}})
                        {% if player_def.bet__Amount != None %}
                            <span class="temp_amount">[puntato a {{player_def.bet__Amount}} da {{player_def.bet__Team_id__Name}}]</span>
                        {% endif %}
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <dialog id="dlg_cc_open">
            <div class="modal-header">
                <span class="close" id="closecc" onclick="closeDlg(this)"><img src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search" type="text" onkeyup="searchPlayer()" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList">
                    {% for player_cc in players_cc %}
                    <dt class="dt-content" data-id="{{player_cc.id}}" data-surname="{{player_cc.Surname}}"
                        data-role="{{player_cc.Role}}" data-realteam="{{player_cc.RealTeam__Name}}"
                        data-betamount="{{player_cc.bet__Amount}}" data-betexpdate="{{player_cc.bet__Expiration_Date}}"
                        data-betteam="{{player_cc.bet__Team_id__Name}}">
                        {{player_cc.Surname}}
                        ({{player_cc.RealTeam__Name}})
                        {% if player_cc.bet__Amount != None %}
                            <span class="temp_amount">[puntato a {{player_cc.bet__Amount}} da {{player_cc.bet__Team_id__Name}}]</span>
                        {% endif %}
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <dialog id="dlg_fw_open">
            <div class="modal-header">
                <span class="close" id="closefw" onclick="closeDlg(this)"><img src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <input id="modal-ob-search" type="text" onkeyup="searchPlayer()" placeholder="Cerca giocatore"
                    class="modal-form-input">
                <dl id="dataList">
                    {% for player_fw in players_fw %}
                    <dt class="dt-content" data-id="{{player_fw.id}}" data-surname="{{player_fw.Surname}}"
                        data-role="{{player_fw.Role}}" data-realteam="{{player_fw.RealTeam__Name}}"
                        data-betamount="{{player_fw.bet__Amount}}" data-betexpdate="{{player_fw.bet__Expiration_Date}}"
                        data-betteam="{{player_fw.bet__Team_id__Name}}">
                        {{player_fw.Surname}}
                        ({{player_fw.RealTeam__Name}})
                        {% if player_fw.bet__Amount != None %}
                            <span class="temp_amount">[puntato a {{player_fw.bet__Amount}} da {{player_fw.bet__Team_id__Name}}]</span>
                        {% endif %}
                        {% endfor %}
                </dl>
            </div>
        </dialog>

        <dialog id="dlg_player_info" class="dlg-player">
            <div class="modal-header">
                <p></p>
                <span class="closeP" id="closePlayer" onclick="closeDlg(this)"><img src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <div id="modal-pl-anag" class="modal-anag">
                    <div id="modal-pl-avatar" class="modal-avatar">
                        <img src="{% static 'l4m/images/profile.png' %}">
                    </div>
                    <input id="modal-pl-info-name" type="text" class="modal-form-input-anag" readonly>
                    <input id="modal-pl-info-realteam" type="text" class="modal-form-input-anag" readonly>
                    <input id="modal-pl-info-role" type="text" class="modal-form-input-anag" readonly>
                </div>
                <div id="modal-pl-bet" class="modal-bet">
                    <span class="modal-label">Puntata</span>
                    <input id="modal-pl-info-betamount" type="number" min="1" value="1" class="modal-form-input-bet">
                    <div id="modal-currentbet" class="modal-form-input-currentbet">
                        <span id="span-betexpire" class="modal-label-bestbet">Scadenza</span>
                        <input id="modal-pl-info-betexpdate" type="text" class="modal-form-input-bettime" readonly>
                        <span id="span-bestbetteam" class="modal-label-bestbet">Squadra con migliore offerta</span>
                        <input id="modal-pl-info-bestbetteam" type="text" class="modal-form-input-betteam" readonly>
                        <span id="span-bestbet" class="modal-label-bestbet">Migliore offerta</span>
                        <input id="modal-pl-info-bestbet" type="text" class="modal-form-input-betteamvalue" readonly>
                    </div>
                </div>
            </div>
        </dialog>

        <dialog id="dlg_player_open" class="dlg-player">
            <div class="modal-header">
                <p></p>
                <span class="closeP" id="closePlayer" onclick="closeDlg(this)"><img src="{% static 'l4m/images/close-blue.png' %}"></span>
            </div>
            <div class="modal-body">
                <div id="modal-pl-anag" class="modal-anag">
                    <div id="modal-pl-avatar" class="modal-avatar">
                        <img src="{% static 'l4m/images/profile.png' %}">
                    </div>
                    <input id="modal-pl-id" type="hidden">
                    <input id="modal-pl-name" type="text" class="modal-form-input-anag" readonly>
                    <input id="modal-pl-realteam" type="text" class="modal-form-input-anag" readonly>
                    <input id="modal-pl-role" type="text" class="modal-form-input-anag" readonly>
                </div>
                <div id="modal-pl-bet" class="modal-bet">
                    <span class="modal-label">Puntata</span>
                    <input id="modal-pl-betamount" type="number" min="1" value="1" class="modal-form-input-bet">
                    <div id="modal-currentbet" class="modal-form-input-currentbet">
                        <span id="span-betexpire" class="modal-label-bestbet">Scadenza</span>
                        <input id="modal-pl-betexpdate" type="text" class="modal-form-input-bettime" readonly>
                        <span id="span-bestbetteam" class="modal-label-bestbet">Squadra con migliore offerta</span>
                        <input id="modal-pl-bestbetteam" type="text" class="modal-form-input-betteam" readonly>
                        <span id="span-bestbet" class="modal-label-bestbet">Migliore offerta</span>
                        <input id="modal-pl-bestbet" type="text" class="modal-form-input-betteamvalue" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddBet" onclick="addBet()">Aggiungi la
                    puntata alla lista</button>
                <button type="button" class="btn btn-primary" id="btnSendBet" onclick="sendBet()">Conferma la
                    puntata</button>
            </div>
        </dialog>

        <div class="div-container" id="main-div-container">
            <div class="gk-container" id="gks">
                <div id="gk1_div" class="pl-div" onclick="openDialog('gk1')">
                    <input type="text" id="gk1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="gk2_div" class="pl-div" onclick="openDialog('gk2')">
                    <input type="text" id="gk2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="gk3_div" class="pl-div" onclick="openDialog('gk3')">
                    <input type="text" id="gk3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>

            <div class="def-container" id="defs">
                <div id="df1_div" class="pl-div" onclick="openDialog('df1')">
                    <input type="text" id="def1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df2_div" class="pl-div" onclick="openDialog('df2')">
                    <input type="text" id="def2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df3_div" class="pl-div" onclick="openDialog('df3')">
                    <input type="text" id="def3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df4_div" class="pl-div" onclick="openDialog('df4')">
                    <input type="text" id="def4" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df5_div" class="pl-div" onclick="openDialog('df5')">
                    <input type="text" id="def5" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df6_div" class="pl-div" onclick="openDialog('df6')">
                    <input type="text" id="def6" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df7_div" class="pl-div" onclick="openDialog('df7')">
                    <input type="text" id="def7" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="df8_div" class="pl-div" onclick="openDialog('df8')">
                    <input type="text" id="def8" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>

            <div class="cc-container" id="ccs">
                <div id="cc1_div" class="pl-div" onclick="openDialog('cc1')">
                    <input type="text" id="cc1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc2_div" class="pl-div" onclick="openDialog('cc2')">
                    <input type="text" id="cc2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc3_div" class="pl-div" onclick="openDialog('cc3')">
                    <input type="text" id="cc3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc4_div" class="pl-div" onclick="openDialog('cc4')">
                    <input type="text" id="cc4" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc5_div" class="pl-div" onclick="openDialog('cc5')">
                    <input type="text" id="cc5" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc6_div" class="pl-div" onclick="openDialog('cc6')">
                    <input type="text" id="cc6" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc7_div" class="pl-div" onclick="openDialog('cc7')">
                    <input type="text" id="cc7" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="cc8_div" class="pl-div" onclick="openDialog('cc8')">
                    <input type="text" id="cc8" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>

            <div class="fw-container" id="fws">
                <div id="fw1_div" class="pl-div" onclick="openDialog('fw1')">
                    <input type="text" id="fw1" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw_div" class="pl-div" onclick="openDialog('fw2')">
                    <input type="text" id="fw2" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw3_div" class="pl-div" onclick="openDialog('fw3')">
                    <input type="text" id="fw3" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw4_div" class="pl-div" onclick="openDialog('fw4')">
                    <input type="text" id="fw4" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw5_div" class="pl-div" onclick="openDialog('fw5')">
                    <input type="text" id="fw5" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
                <div id="fw6_div" class="pl-div" onclick="openDialog('fw6')">
                    <input type="text" id="fw6" class="inputPlyr" readonly value="SLOT VUOTO">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}