{% extends "./base.html" %}
{% load static %}

{ % block title % } L4M2.0 - Schiera formazione { % endblock % }

{% block links %}
<link href="{% static 'l4m/css/lineup.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/lineup.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">
    <div class="bg-body-tertiary main-div p-5" id="lineupDiv">
        <div class="form-floating">
            <select class="form-select form-select-lg mb-3 form-select-custom" id="mods">
                {% for mod in mods %}
                <option value="{{mod}}">{{mod}}</option>
                {% endfor %}
            </select>
            <label for="mods">Modulo</label>
        </div>
        <div class="lineups">
            <div class="main-lineup">
                <div class="form-floating">
                    <select class="form-select form-select-lg mb-3" id="gk_tit">
                        {% for gk in players_gk %}
                        <option value="{{gk}}">{{gk.Player__Surname}} ({{gk.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="gk_tit">Portiere titolare</label>
                </div>

                <div class="form-floating" id="d1">
                    <select class="form-select form-select-lg mb-3" id="d1_tit">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d1_tit">Difensore 1 titolare</label>
                </div>

                <div class="form-floating" id="d2">
                    <select class="form-select form-select-lg mb-3" id="d2_tit">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d2_tit">Difensore 2 titolare</label>
                </div>

                <div class="form-floating" id="d3">
                    <select class="form-select form-select-lg mb-3" id="d3_tit">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d3_tit">Difensore 3 titolare</label>
                </div>

                <div class="form-floating" id="d4" hidden>
                    <select class="form-select form-select-lg mb-3" id="d4_tit">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d4_tit">Difensore 4 titolare</label>
                </div>

                <div class="form-floating" id="d5" hidden>
                    <select class="form-select form-select-lg mb-3" id="d5_tit">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d5_tit">Difensore 5 titolare</label>
                </div>

                <div class="form-floating" id="c1">
                    <select class="form-select form-select-lg mb-3" id="c1_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c1_tit">Centrocampista 1 titolare</label>
                </div>

                <div class="form-floating" id="c2">
                    <select class="form-select form-select-lg mb-3" id="c2_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c2_tit">Centrocampista 2 titolare</label>
                </div>

                <div class="form-floating" id="c3">
                    <select class="form-select form-select-lg mb-3" id="c3_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c3_tit">Centrocampista 3 titolare</label>
                </div>

                <div class="form-floating" id="c4">
                    <select class="form-select form-select-lg mb-3" id="c4_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c4_tit">Centrocampista 4 titolare</label>
                </div>

                <div class="form-floating" id="c5">
                    <select class="form-select form-select-lg mb-3" id="c5_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c5_tit">Centrocampista 5 titolare</label>
                </div>

                <div class="form-floating" id="a1">
                    <select class="form-select form-select-lg mb-3" id="a1_tit">
                        {% for fw in players_fw %}
                        <option value="{{fw}}">{{fw.Player__Surname}} ({{fw.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="a1_tit">Attaccante 1 titolare</label>
                </div>

                <div class="form-floating" id="a2">
                    <select class="form-select form-select-lg mb-3" id="a2_tit">
                        {% for fw in players_fw %}
                        <option value="{{fw}}">{{fw.Player__Surname}} ({{fw.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="a2_tit">Attaccante 2 titolare</label>
                </div>

                <div class="form-floating" id="a3" hidden>
                    <select class="form-select form-select-lg mb-3" id="a1_tit">
                        {% for fw in players_fw %}
                        <option value="{{fw}}">{{fw.Player__Surname}} ({{fw.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="a3_tit">Attaccante 3 titolare</label>
                </div> 

            </div>

            <div class="vr vr-custom"></div>

            <div class="secondary-lineup">
                
                <div class="form-floating">
                    <select class="form-select form-select-lg mb-3" id="gk1_ris">
                        {% for gk in players_gk %}
                        <option value="{{gk}}">{{gk.Player__Surname}} ({{gk.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="gk1_ris">Portiere 1 riserva</label>
                </div>

                <div class="form-floating">
                    <select class="form-select form-select-lg mb-3" id="gk2_ris">
                        {% for gk in players_gk %}
                        <option value="{{gk}}">{{gk.Player__Surname}} ({{gk.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="gk2_ris">Portiere 2 riserva</label>
                </div>

                <div class="form-floating" id="d1r">
                    <select class="form-select form-select-lg mb-3" id="d1_ris">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d1_ris">Difensore 1 riserva</label>
                </div>

                <div class="form-floating" id="d2r">
                    <select class="form-select form-select-lg mb-3" id="d2_ris">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d2_ris">Difensore 2 riserva</label>
                </div>

                <div class="form-floating" id="d3r">
                    <select class="form-select form-select-lg mb-3" id="d3_ris">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d3_ris">Difensore 3 riserva</label>
                </div>

                <div class="form-floating" id="d4r">
                    <select class="form-select form-select-lg mb-3" id="d4_ris">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d4_ris">Difensore 4 riserva</label>
                </div>

                <div class="form-floating" id="d5r">
                    <select class="form-select form-select-lg mb-3" id="d5_ris">
                        {% for def in players_def %}
                        <option value="{{def}}">{{def.Player__Surname}} ({{def.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="d5_ris">Difensore 5 riserva</label>
                </div>

                <div class="form-floating" id="c1r">
                    <select class="form-select form-select-lg mb-3" id="c1_ris">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c1_ris">Centrocampista 1 riserva</label>
                </div>

                <div class="form-floating" id="c2r">
                    <select class="form-select form-select-lg mb-3" id="c2_ris">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c2_ris">Centrocampista 2 riserva</label>
                </div>

                <div class="form-floating" id="c3r">
                    <select class="form-select form-select-lg mb-3" id="c3_ris">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c3_ris">Centrocampista 3 riserva</label>
                </div>

                <div class="form-floating" id="c4r" hidden>
                    <select class="form-select form-select-lg mb-3" id="c4_ris">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c4_ris">Centrocampista 4 riserva</label>
                </div>

                <div class="form-floating" id="c5r" hidden>
                    <select class="form-select form-select-lg mb-3" id="c5_ris">
                        {% for cc in players_cc %}
                        <option value="{{cc}}">{{cc.Player__Surname}} ({{cc.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="c5_ris">Centrocampista 5 riserva</label>
                </div>

                <div class="form-floating" id="a1r">
                    <select class="form-select form-select-lg mb-3" id="a1_ris">
                        {% for fw in players_fw %}
                        <option value="{{fw}}">{{fw.Player__Surname}} ({{fw.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="a1_ris">Attaccante 1 riserva</label>
                </div>

                <div class="form-floating" id="a2r">
                    <select class="form-select form-select-lg mb-3" id="a2_ris">
                        {% for fw in players_fw %}
                        <option value="{{fw}}">{{fw.Player__Surname}} ({{fw.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="a2_ris">Attaccante 2 riserva</label>
                </div>

                <div class="form-floating" id="a3r">
                    <select class="form-select form-select-lg mb-3" id="a3_ris">
                        {% for fw in players_fw %}
                        <option value="{{fw}}">{{fw.Player__Surname}} ({{fw.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="a3_ris">Attaccante 3 riserva</label>
                </div>

                <div class="form-floating" id="a4r" hidden>
                    <select class="form-select form-select-lg mb-3" id="a4_ris">
                        {% for fw in players_fw %}
                        <option value="{{fw}}">{{fw.Player__Surname}} ({{fw.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="a4_ris">Attaccante 4 riserva</label>
                </div>

                <div class="form-floating" id="a5r" hidden>
                    <select class="form-select form-select-lg mb-3" id="a5_ris">
                        {% for fw in players_fw %}
                        <option value="{{fw}}">{{fw.Player__Surname}} ({{fw.Player__RealTeam__Name}})</option>
                        {% endfor %}
                        <option value="" disabled selected></option>
                    </select>
                    <label for="a5_ris">Attaccante 5 riserva</label>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}