{% extends "./base.html" %}
{% load static %}

{% block title %} L4M2.0 - Schiera formazione {% endblock %}

{% block links %}
<link href="{% static 'l4m/css/lineup.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/lineup.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
            <span id="span-error-alert"></span>
    </div>

    <div class="alert alert-success" role="alert" id="info-alert" hidden>
            <span id="span-info-alert"></span>
    </div>

    <input type="hidden" value="{{competition_id}}" id="competition_id">

    <div class="bg-body-tertiary main-div p-5" id="lineupDiv">
        <label for="select_comp" class="comp-label">COMPETIZIONE</label>
            <select class="form-select form-select-lg mb-3 form-select-comp" id="select_comp">
                {% for comp in all_competitions %}
                <option value="{{comp}}" data-id="{{comp.id}}">{{comp.Name}}</option>
                {% endfor %}
            </select>
        <div class="form-floating top-line">
            <div class="mod">
                <select class="form-select form-select-lg mb-3 form-select-custom {% if day_already_started %} blocked {% endif %}" id="mods" {% if day_already_started %} disabled {% endif %}>
                    {% for mod in mods %}
                    <option value="{{mod}}">{{mod}}</option>
                    {% endfor %}
                </select>
                <label for="mods">Modulo</label>
            </div>
            <div class="form-floating cap">
                <select class="form-select form-select-lg mb-3 form-select-player cap-select {% if day_already_started %} blocked {% endif %}" id="captain" {% if day_already_started %} disabled {% endif %}>
                    {% for pl in players_all %}
                        <option value="{{pl}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name}})</option>
                    {% endfor %}
                    <option value="" selected></option>
                </select>
                <label for="captain">Capitano</label>
            </div>
            <div class="switches">
                <div class="form-check form-switch form-floating form-switch-md">
                    <input class="form-check-input" type="checkbox" role="switch" id="hideLineupSwitch" {% if day_already_started %} disabled {% endif %}>
                    <span class="form-check-label hide-lineup-label">NASCONDI FORMAZIONE</span>
                </div>
                <div class="form-check form-switch form-floating form-switch-md">
                    <input class="form-check-input" type="checkbox" id="modNoportSwitch" {% if day_already_started %} disabled {% endif %}>
                    <span class="form-check-label hide-lineup-label">MODIFICATORE NO PORTIERE</span>
                </div>
            </div>
            <div class="btn-panel" id="btn_panel">
                <button type="button" class="btn btn-primary top-panel-btn" id="btnSaveLineup" {% if late_lineup %} disabled {% endif %}>
                    CONFERMA
                </button>
                <button type="button" class="btn btn-primary top-panel-btn" id="btnResetMainLineup" {% if day_already_started %} disabled {% endif %}>
                    RESET TITOLARI
                </button>
                <button type="button" class="btn btn-primary top-panel-btn" id="btnResetLineup" {% if day_already_started %} disabled {% endif %}>
                    RESET TUTTI
                </button>
                <div class="form-check form-switch form-floating form-switch-md switch-all-comp">
                    <input class="form-check-input" type="checkbox" id="allCompSwitch" {% if day_already_started %} disabled {% endif %}>
                    <span class="form-check-label hide-lineup-label">SCHIERA PER TUTTE LE COMPETIZIONI</span>
                </div>
            </div>

            <div class="alert-panel" id="alert_panel">
                {% if not day_already_started %}
                <img src="{% static 'l4m/images/green.png' %}">
                <span class="alert-limit">FORMAZIONE SCHIERABILE FINO A {{day_time_limit}}</span>
                {% elif day_already_started and late_lineup %}
                <img src="{% static 'l4m/images/red.png' %}">
                <span class="alert-limit">FORMAZIONE NON SCHIERATA PER QUESTA COMPETIZIONE, NESSUNA MODIFICA POSSIBILE</span>
                {% else %}
                <img src="{% static 'l4m/images/orange.png' %}">
                <span class="alert-limit">GIORNATA INIZIATA, FORMAZIONE MODIFICABILE AI LIMITI DEL REGOLAMENTO</span>
                {% endif %}
            </div>
            
        </div>
        <div class="lineups" id="l_ups">
            <div class="form-check form-switch form-floating form-switch-md" hidden>
                    <input class="form-check-input" type="checkbox" id="showVs">
                    <span class="form-check-label hide-lineup-label">MOSTRA AVVERSARI</span>
            </div>
            <div class="main-lineup" id="main_lineup">
                <div class="form-floating">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="gk_tit">
                        {% for gk in players_gk %}
                        <option value="{{gk}}" data-limit="{{gk.played}}" data-id="{{gk.Player__id}}" {% if gk.played %} class="played" {% endif %}>
                            [{{gk.Player__Role}}] {{gk.Player__Surname}} ({{gk.Player__RealTeam__Name|upper|slice:":3"}}) | {{gk.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="gk_tit">Portiere titolare</label>
                </div>

                <div class="form-floating" id="d1">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="d1_tit">
                        {% for def in players_def %}
                        <option value="{{def}}" data-limit="{{def.played}}" data-id="{{def.Player__id}}" {% if def.played %} class="played" {% endif %}>
                            [{{def.Player__Role}}] {{def.Player__Surname}} ({{def.Player__RealTeam__Name|upper|slice:":3"}}) | {{def.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="d1_tit">Difensore 1 titolare</label>
                </div>

                <div class="form-floating" id="d2">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="d2_tit">
                        {% for def in players_def %}
                        <option value="{{def}}" data-limit="{{def.played}}" data-id="{{def.Player__id}}" {% if def.played %} class="played" {% endif %}>
                            [{{def.Player__Role}}] {{def.Player__Surname}} ({{def.Player__RealTeam__Name|upper|slice:":3"}}) | {{def.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="d2_tit">Difensore 2 titolare</label>
                </div>

                <div class="form-floating" id="d3">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="d3_tit">
                        {% for def in players_def %}
                        <option value="{{def}}" data-limit="{{def.played}}" data-id="{{def.Player__id}}" {% if def.played %} class="played" {% endif %}>
                            [{{def.Player__Role}}] {{def.Player__Surname}} ({{def.Player__RealTeam__Name|upper|slice:":3"}}) | {{def.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="d3_tit">Difensore 3 titolare</label>
                </div>

                <div class="form-floating" id="d4" hidden>
                    <select class="form-select form-select-lg mb-3 form-select-player" id="d4_tit">
                        {% for def in players_def %}
                        <option value="{{def}}" data-limit="{{def.played}}" data-id="{{def.Player__id}}" {% if def.played %} class="played" {% endif %}>
                            [{{def.Player__Role}}] {{def.Player__Surname}} ({{def.Player__RealTeam__Name|upper|slice:":3"}}) | {{def.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="d4_tit">Difensore 4 titolare</label>
                </div>

                <div class="form-floating" id="d5" hidden>
                    <select class="form-select form-select-lg mb-3 form-select-player" id="d5_tit">
                        {% for def in players_def %}
                        <option value="{{def}}" data-limit="{{def.played}}" data-id="{{def.Player__id}}" {% if def.played %} class="played" {% endif %}>
                            [{{def.Player__Role}}] {{def.Player__Surname}} ({{def.Player__RealTeam__Name|upper|slice:":3"}}) | {{def.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="d5_tit">Difensore 5 titolare</label>
                </div>

                <div class="form-floating" id="c1">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="c1_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}" data-limit="{{cc.played}}" data-id="{{cc.Player__id}}" {% if cc.played %} class="played" {% endif %}>
                            [{{cc.Player__Role}}] {{cc.Player__Surname}} ({{cc.Player__RealTeam__Name|upper|slice:":3"}}) | {{cc.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="c1_tit">Centrocampista 1 titolare</label>
                </div>

                <div class="form-floating" id="c2">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="c2_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}" data-limit="{{cc.played}}" data-id="{{cc.Player__id}}" {% if cc.played %} class="played" {% endif %}>
                            [{{cc.Player__Role}}] {{cc.Player__Surname}} ({{cc.Player__RealTeam__Name|upper|slice:":3"}}) | {{cc.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="c2_tit">Centrocampista 2 titolare</label>
                </div>

                <div class="form-floating" id="c3">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="c3_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}" data-limit="{{cc.played}}" data-id="{{cc.Player__id}}" {% if cc.played %} class="played" {% endif %}>
                            [{{cc.Player__Role}}] {{cc.Player__Surname}} ({{cc.Player__RealTeam__Name|upper|slice:":3"}}) | {{cc.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="c3_tit">Centrocampista 3 titolare</label>
                </div>

                <div class="form-floating" id="c4">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="c4_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}" data-limit="{{cc.played}}" data-id="{{cc.Player__id}}" {% if cc.played %} class="played" {% endif %}>
                            [{{cc.Player__Role}}] {{cc.Player__Surname}} ({{cc.Player__RealTeam__Name|upper|slice:":3"}}) | {{cc.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="c4_tit">Centrocampista 4 titolare</label>
                </div>

                <div class="form-floating" id="c5">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="c5_tit">
                        {% for cc in players_cc %}
                        <option value="{{cc}}" data-limit="{{cc.played}}" data-id="{{cc.Player__id}}" {% if cc.played %} class="played" {% endif %}>
                            [{{cc.Player__Role}}] {{cc.Player__Surname}} ({{cc.Player__RealTeam__Name|upper|slice:":3"}}) | {{cc.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="c5_tit">Centrocampista 5 titolare</label>
                </div>

                <div class="form-floating" id="a1">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="a1_tit">
                        {% for fw in players_fw %}
                        <option value="{{fw}}" data-limit="{{fw.played}}" data-id="{{fw.Player__id}}" {% if fw.played %} class="played" {% endif %}>
                            [{{fw.Player__Role}}] {{fw.Player__Surname}} ({{fw.Player__RealTeam__Name|upper|slice:":3"}}) | {{fw.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="a1_tit">Attaccante 1 titolare</label>
                </div>

                <div class="form-floating" id="a2">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="a2_tit">
                        {% for fw in players_fw %}
                        <option value="{{fw}}" data-limit="{{fw.played}}" data-id="{{fw.Player__id}}" {% if fw.played %} class="played" {% endif %}>
                            [{{fw.Player__Role}}] {{fw.Player__Surname}} ({{fw.Player__RealTeam__Name|upper|slice:":3"}}) | {{fw.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="a2_tit">Attaccante 2 titolare</label>
                </div>

                <div class="form-floating" id="a3" hidden>
                    <select class="form-select form-select-lg mb-3 form-select-player" id="a3_tit">
                        {% for fw in players_fw %}
                        <option value="{{fw}}" data-limit="{{fw.played}}" data-id="{{fw.Player__id}}" {% if fw.played %} class="played" {% endif %}>
                            [{{fw.Player__Role}}] {{fw.Player__Surname}} ({{fw.Player__RealTeam__Name|upper|slice:":3"}}) | {{fw.vs|upper}}
                        </option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="a3_tit">Attaccante 3 titolare</label>
                </div> 

            </div>

            <div class="vr vr-custom"></div>

            <div class="secondary-lineup" id="secondary_lineup">
                
                <div class="form-floating">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="gk1_ris">
                        {% for gk in players_gk %}
                        <option value="{{gk}}" data-limit="{{gk.played}}" data-id="{{gk.Player__id}}">[{{gk.Player__Role}}] {{gk.Player__Surname}} ({{gk.Player__RealTeam__Name|upper|slice:":3"}}) | {{gk.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="gk1_ris">Portiere 1 riserva</label>
                </div>

                <div class="form-floating">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="gk2_ris">
                        {% for gk in players_gk %}
                        <option value="{{gk}}" data-limit="{{gk.played}}" data-id="{{gk.Player__id}}">[{{gk.Player__Role}}] {{gk.Player__Surname}} ({{gk.Player__RealTeam__Name|upper|slice:":3"}}) | {{gk.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="gk2_ris">Portiere 2 riserva</label>
                </div>

                <div class="form-floating" id="d1r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p1_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p1_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="d2r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p2_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p2_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="d3r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p3_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p3_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="d4r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p4_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p4_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="p5r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p5_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p5_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="c1r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p6_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p6_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="c2r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p7_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p7_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="c3r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p8_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p8_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="c4r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p9_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p9_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="c5r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p10_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p10_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="a1r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p11_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p11_ris">Giocatore di riserva</label>
                </div>

                <div class="form-floating" id="a2r">
                    <select class="form-select form-select-lg mb-3 form-select-player" id="p12_ris">
                        {% for pl in players_my %}
                        <option value="{{pl}}" data-limit="{{pl.played}}" data-id="{{pl.Player__id}}">[{{pl.Player__Role}}] {{pl.Player__Surname}} ({{pl.Player__RealTeam__Name|upper|slice:":3"}}) | {{pl.vs|upper}}</option>
                        {% endfor %}
                        <option value="" selected></option>
                    </select>
                    <label for="p12_ris">Giocatore di riserva</label>
                </div>

            </div>

        </div>

        
    </div>
</div>
</div>
{% endblock %}