{% extends "./base.html" %}
{% load static %}

{ % block title % } L4M2.0 - BEST11 { % endblock % }

{% block links %}
<link href="{% static 'l4m/css/live.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/live_b11.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
        <span id="span-error-alert"></span>
    </div>
    <div class="alert alert-success" role="alert" id="info-alert" hidden>
        <span id="span-info-alert"></span>
    </div>
    <!-- <h1 class="display-2">BEST 11 - LIVE</h1> -->
    <div class="bg-body-tertiary main-div p-5 b11-live-tables bg-success bg-opacity-50" id="b11MainDiv">
        {% for best in sorted_best %}
            <table class="table table-striped-columns table-dark table-match rounded-3 table-bordered rounded-pill">
                <thead>
                    <tr>
                        <th colspan="6" class="display-6 mozilla-headline-teamname w-30 team-name">Team Name</th>
                    </tr>
                    <tr>
                        <th colspan="6" class="team-score mozilla-headline-teamname display-6">{{best.score}}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for player in best.players %}
                        <tr>
                            <td>{{player.RealTeam|upper|slice:":3"}}</td>
                            <td>{{player.Surname}}</td>
                            <td>{% if best.captain %} <img class="cap-img" src="{% static 'l4m/images/cap.png' %}">{% endif %}
                                {{player.Surname}}</td>
                            <td>{{vote.Vote|floatformat}}</td>
                            <td>{{vote.TotVote|floatformat}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>

        {% endfor %}

    </div>
</div>
{% endblock %}