{% extends "./base.html" %}
{% load static %}

{ % block title % } L4M2.0 - LIVE! { % endblock % }

{% block links %}
<link href="{% static 'l4m/css/live.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/live.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
            <span id="span-error-alert"></span>
    </div>
    <div class="alert alert-success" role="alert" id="info-alert" hidden>
            <span id="span-info-alert"></span>
    </div>
    <div class="bg-body-tertiary main-div p-5 live-tables" id="liveMainDiv">
        
        {% for match_votes in all_votes %}
        <div>
            {% for team_votes in match_votes %}

            <table class="table table-striped-columns table-dark">
                <th>GIOCATORE</th>
                <th>VOTO</th>
                <th>BONUS</th>
                {% for vote in team_votes %}

                <tr>
                    <td>{{vote.Player.Surname}}</td>
                    <td>{{vote.Vote}}</td>
                    <td>{{vote.GoalSc}}</td>
                </tr>
                {% endfor %}
    
            </table>

            {% endfor %}
            
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}