{% load static %}

{% load widget_tweaks %}

<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <!-- {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %} -->

  <link rel="shortcut icon" type="image/png" href="{% static 'l4m/images/favicon.ico' %}" >

  <script src="{% static 'l4m/js/color-modes.js' %}"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>L4M 2.0</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <link href="{% static 'l4m/css/bootstrap.min.css' %}" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="{% static 'l4m/css/login.css' %}" rel="stylesheet">

</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">

  <main class="form-signin w-100 m-auto">
    <form action="" method="post">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'l4m/images/logo.jpeg' %}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">LEGA 4 MORI 2.0</h1>

      <div class="form-floating">
        {% render_field form.username placeholder='username' class='form-control form-control-user' %}
        <label for="floatingInput">Nome utente</label>
      </div>
      <div class="form-floating">
        {% render_field form.password placeholder='password' class='form-control form-control-user' %}
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Ricordami
        </label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">ENTRA</button>
    </form>
  </main>

</body>

</html>