{% extends "./base.html" %}
{% load static %}

{% block title %} L4M2.0 - COMPETIZIONI {% endblock %}

{% block links %}
<link href="{% static 'l4m/css/my_leagues.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/rowgroup/1.6.0/css/rowGroup.dataTables.min.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/my_leagues.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.6.0/js/dataTables.rowGroup.min.js"></script>
{% endblock %}

{% block content %}
<input type="hidden" id="day" value="{{day}}">
<input type="hidden" id="comp" value="{{comp.id}}">


<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
        <span id="span-error-alert"></span>
    </div>

    <div class="alert alert-success" role="alert" id="info-alert" hidden>
        <span id="span-info-alert"></span>
    </div>

    <div class="main-div main-league-div" id="myLeaguesDiv">
        <!-- {{ comp_data|json_script:"comp-data" }} -->

        {% include "l4m/competitions/hero.html" %}

        <div class="competition-divider glow-divider"></div>

        <div class="top-table">
            
            {% include "l4m/competitions/stage_tabs.html" %}

            <div class="stage-content">

                {% include "l4m/competitions/gironi.html" %}
                {% include "l4m/competitions/fase_finale.html" %}
            
            </div>
            
            <!-- <div class="d-flex justify-content-center my-3">
                <div class="stage-scroll-container">
                    <ul class="stage-selector">

                        <div class="stage-content-wrapper">

                            <div id="gironi-content" class="stage-panel">

                                <div class="groups-subpills mb-3">
                                    <ul class="nav nav-pills group-selector">
                                    </ul>
                                </div>

                                <div class="ranking-container mb-4">
                                    <table id="rankingTable" class="table table-striped w-100"></table>
                                </div>

                                <div class="calendar-container">
                                    <table id="calendarTable" class="table table-striped w-100"></table>
                                </div>

                            </div>

                            <div id="final-content" class="stage-panel d-none">
                                <div id="bracketContainer"></div>
                            </div>

                        </div>

                    </ul>
                </div>

            </div> -->
        </div>


        {%if False %}
        <section id="rankings" class="content-section bg-dark rankings">


            <span class="rankings-title">CLASSIFICA</span>
            <div class="card mb-4 main-content-card">
                <div class="card-header">

                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered stripe" id="rankingDataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr class="h">
                                            <th id="team_h_camp">Squadra</th>
                                            <th id="team_p_h_camp">Punti</th>
                                            <th>FantaPunti</th>
                                            <th>PG</th>
                                            <th>V</th>
                                            <th>N</th>
                                            <th>P</th>
                                            <th>GF</th>
                                            <th>GS</th>
                                            <th>DR</th>
                                        </tr>
                                    </thead>
                                    <tbody class="rank-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="rankings-title">CALENDARIO</span>
            <div class="card mb-4 main-content-card">
                <div class="card-header">

                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered stripe" id="calendarDataTable" cellspacing="0">
                                    <thead class="calendarDt-thead">
                                        <tr>
                                            <th />
                                            <th />
                                            <th />
                                            <th />
                                            <th />
                                        </tr>
                                    </thead>
                                    <tbody class="calendar-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        {% endif %}

    </div>
</div>
{% endblock %}