{% extends "./base.html" %}
{% load static %}

{% block title %} L4M2.0 - COMPETIZIONI {% endblock %}

{% block links %}
<link href="{% static 'l4m/css/my_leagues.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/my_leagues.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
{% endblock %}

{% block content %}
<input type="hidden" id="day" value="{{day}}">
<input type="hidden" id="comp" value="{{comp.id}}">


<div id="layoutSidenav_content" class="custom-layout">

    <div class="alert alert-danger" role="alert" id="error-alert" hidden>
        <span id="span-error-alert"></span>
    </div>

    <div class="alert alert-success" role="alert" id="info-alert" hidden>
        <span id="span-info-alert"></span>
    </div>

    <div class="main-div main-league-div" id="myLeaguesDiv">

        {% include "l4m/competitions/hero.html" %}

        <div class="competition-divider glow-divider"></div>

        <div class="top-table">
            
            <div class="stage-content">
                {% if comp.Name|lower == "panchina d'oro" %}
                   {% include "l4m/competitions/pdoro_table.html" %}
                {% endif %}            
            </div>
            
        </div>

    </div>
</div>
{% endblock %}
