{% extends "./base.html" %}
{% load static %}

{% block title %} L4M2.0 - STATISTICHE GIOCATORE {% endblock %}

{% block links %}
<link href="{% static 'l4m/css/statistics.css' %}" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">
<style>
        @import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'l4m/js/statistics.js' %}"></script>

{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">
        <div class="main-div">
                <div class="container container-stats">
                        <div class="player-card">
                                <div class="player-header">
                                        <h2 class="player-name">{{ player_stats.name_surname }}</h2>
                                        <div class="player-info">
                                                Squadra: {{ player_stats.realteam }} | Ruolo: {{ player_stats.role }}
                                        </div>
                                </div>

                                <div class="stats-row">
                                        <div class="stat"><span><i class="fas fa-star"></i> Media Voto</span><strong
                                                        class="counter vote"
                                                        data-target="{{ player_stats.average_vote }}">0</strong>
                                        </div>
                                        <div class="stat"><span><i class="fas fa-trophy"></i> Fantamedia</span><strong
                                                        class="counter fvote"
                                                        data-target="{{ player_stats.average_fantamedia }}">0</strong>
                                        </div>
                                </div>

                                <div class="stats-row">
                                        <div class="stat"><span><i class="fas fa-futbol"></i> Goal Segnati</span><strong
                                                        data-target="{{ player_stats.goals }}">{{player_stats.goals}}</strong>
                                        </div>

                                        {% if player_stats.role == "PORTIERE" %}<div class="stat"><span><i
                                                                class="fas fa-futbol"></i>
                                                        Goal Subiti</span><strong class="counter"
                                                        data-target="{{ player_stats.goals_conceded }}">{{player_stats.goals_conceded}}</strong>
                                        </div> {% endif %}

                                        <div class="stat"><span><i class="fas fa-bullseye"></i> Rigori
                                                        Segnati</span><strong
                                                        data-target="{{ player_stats.penalties_scored }}">{{player_stats.penalties_scored}}</strong>
                                        </div>

                                        <div class="stat"><span><i class="fas fa-times-circle"></i> Rigori
                                                        Sbagliati</span><strong
                                                        data-target="{{ player_stats.penalties_missed }}">{{player_stats.penalties_missed}}</strong>
                                        </div>

                                        {% if player_stats.role == "PORTIERE" %}<div class="stat"><span><i
                                                                class="fas fa-shield-alt"></i> Rigori
                                                        Parati</span><strong
                                                        data-target="{{ player_stats.penalties_saved }}">{{player_stats.penalties_saved}}</strong>
                                        </div> {% endif %}

                                        <div class="stat"><span><i class="fas fa-exclamation-triangle"></i>
                                                        Autogol</span><strong
                                                        data-target="{{ player_stats.own_goals }}">{{player_stats.own_goals}}</strong>
                                        </div>

                                        <div class="stat"><span><i class="fas fa-square"></i> Ammonizioni</span><strong
                                                        data-target="{{ player_stats.yellow_cards }}">{{player_stats.yellow_cards}}</strong>
                                        </div>

                                        <div class="stat"><span><i class="fas fa-user-slash"></i>
                                                        Espulsioni</span><strong
                                                        data-target="{{ player_stats.red_cards }}">{{player_stats.red_cards}}</strong>
                                        </div>

                                        <div class="stat"><span><i class="fas fa-hands-helping"></i>
                                                        Assist</span><strong
                                                        data-target="{{ player_stats.assists }}">{{player_stats.assists}}</strong>
                                        </div>

                                        <div class="stat"><span><i class="fas fa-futbol"></i> Rigori
                                                        Procurati</span><strong
                                                        data-target="{{ player_stats.penalty_wins }}">{{player_stats.penalty_wins}}</strong>
                                        </div>
                                </div>

                                <div class="match-stats">
                                        <h3>STATISTICHE PER GIORNATA</h3>
                                        <div class="match-grid" id="stats-per-match-grid">
                                                {% for stat in stats_per_day %}
                                                <div class="match-day">
                                                        <div class="match-day-header">Giornata {{ stat.day }}</div>
                                                        <div class="match-name">{{ stat.real_match_name }}</div>
                                                        <div class="match-day-body">
                                                                {% if stat.vote %}
                                                                <div class="score high"><span><i
                                                                                        class="fas fa-star"></i>
                                                                                Voto</span><strong>{{stat.vote}}</strong>
                                                                </div>
                                                                <div class="score high"><span><i
                                                                                        class="fas fa-trophy"></i>
                                                                                Fantavoto</span><strong>{{stat.tot_vote}}</strong>
                                                                </div>
                                                                {% endif %}
                                                        </div>
                                                        <div class="match-day-icons">
                                                                {% if not stat.vote %}
                                                                <img src="{% static 'l4m/images/block.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="SQUALIFICATO / NON SCHIERATO (0)">
                                                                {% endif %}
                                                                {% for _ in stat.goal_conceded %}
                                                                <img src="{% static 'l4m/images/goal_taken.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="GOAL PRESO (-1)">
                                                                {% endfor %}
                                                                {% for _ in stat.goal_scored %}
                                                                <img src="{% static 'l4m/images/goal.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="GOAL SEGNATO (+3)">
                                                                {% endfor %}
                                                                {% for _ in stat.penalty_scored %}
                                                                <img src="{% static 'l4m/images/pen_sco.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="RIGORE SEGNATO (+3)">
                                                                {% endfor %}
                                                                {% for _ in stat.penalty_missed %}
                                                                <img src="{% static 'l4m/images/pen_mis.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="RIGORE SBAGLIATO (-2)">
                                                                {% endfor %}
                                                                {% for _ in stat.penalty_saved %}
                                                                <img src="{% static 'l4m/images/pen_sav.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="RIGORE PARATO (+3)">
                                                                {% endfor %}
                                                                {% for _ in stat.own_goal %}
                                                                <img src="{% static 'l4m/images/own.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="AUTOGOL (-2)">
                                                                {% endfor %}
                                                                {% for _ in stat.yellow_card %}
                                                                <img src="{% static 'l4m/images/yelcard.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="AMMONIZIONE (-1)">
                                                                {% endfor %}
                                                                {% for _ in stat.red_card %}
                                                                <img src="{% static 'l4m/images/redcard.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="ESPULSIONE (-3)">
                                                                {% endfor %}
                                                                {% for _ in stat.assist %}
                                                                <img src="{% static 'l4m/images/assist.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="ASSIST (+1)">
                                                                {% endfor %}
                                                                {% for _ in stat.penalty_won %}
                                                                <img src="{% static 'l4m/images/pen_pro.png' %}"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="right"
                                                                        data-bs-title="RIGORE PROCURATO (+1)">
                                                                {% endfor %}
                                                        </div>
                                                </div>
                                                {% endfor %}
                                        </div>
                                </div>

                        </div>
                </div>
        </div>
</div>

{% endblock %}