{% extends "./base.html" %}
{% load static %}

{% block title %}L4M2.0 - Squad{% endblock %}

{% block links %}
<link href="{% static 'l4m/css/squad.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'l4m/js/squad.js' %}"></script>
{% endblock %}

{% block content %}
<div id="layoutSidenav_content" class="custom-layout">
    <div class="bg-body-tertiary p-5 main-div" id="allTeamsDiv">
        <!--h2>Team: <span id="team-name"></span></h2-->
           <input type="hidden" id="team_info" value='{{ tinfo_json|safe }}'>
           <input type="hidden" id="team_players" value='{{ players_json|safe }}'>
           

        <div id="players-table"></div>
    </div>
</div>
{% endblock %}
