    <div class="modal fade force-fullscreen" id="showLineupHistoryModal" tabindex="-1" role="dialog" aria-labelledby="showLineupHistoryModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title lup-hist-title" id="showLineupHistoryModalLabel">STORICO FORMAZIONI</h4>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal"></button>
                </div>
                <div id="lineups">
                </div>
            </div>
        </div>
    </div>
