<div class="modal fade" id="showLiveRankingModal" tabindex="-1" role="dialog" aria-labelledby="showLiveRankingModalLabel">
        <div class="modal-dialog modal-full-mobile" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title lup-hist-title" id="showLiveRankingModalLabel">CLASSIFICA LIVE</h4>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal"></button>
                </div>
                <div id="live-ranking">
                    <table class="table table-striped-columns table-dark 
                    table-liveranking rounded-3 table-bordered rounded-pill">
                        <tbody class="table-group-divider" id="live_ranking_tbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
