.custom-table {
    width: 30%;
    border-spacing: 1em !important;
    --bs-table-bg: transparent !important;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dataTables_wrapper {
    margin-left: 3%;
}

.betting-player {
    background-color: gray !important;
    border-bottom-color: currentColor;
    mix-blend-mode: color-dodge;
    color: green !important;
}

.table-caption {
    caption-side:top;
    padding: 10px;
    font-weight: bold;
  }