.custom-table {
    width: 30%;
    border-spacing: 1em !important;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dataTables_wrapper {
    margin-left: 3%;
}

.betting-player {
    background-color: rgb(172, 205, 172) !important;
}