.topbar {
  height: 2%;
}

.sidenav-custom {
  font-size: large !important;
  display: flex;
}

.nav-link-custom {
  font-size: smaller !important;
}

.nav-span {
  margin-left: 10%;
}

.live-link {
  font-size: larger !important;
  margin-right: 2em;
  margin-left: 1.5em;
  align-content: flex-end;
}

@media (max-width:800px) {
  .live-link {
    text-align: center;
    font-size: medium;
    margin-right: 1em;
    margin-left: .5em;
  }
}

.team-name {
  font-size: x-large;
  margin-left: 2em;
  font-weight: bolder;
}

.topbar-items {
  display: flex;
  align-items: center;
}

@media (max-width:800px) {
  .topbar-items {
    display: block;
  }
}

.live-toplink {
  display: flex;
  align-items: baseline;
  margin-left: 2.5rem;
}

.nav-link-test {
  color: crimson !important;
}

.nav-link-rules {
  color: rgb(112, 197, 97) !important;
}

.rule-icon {
  align-content: center;
}

@media (max-width:800px) {
      .nav-mobile {
        height: 100% !important;
  }
}

.dash-icon {
  align-content: center;
}

.team-name-span {
  color: steelblue;
  font-weight: bold;
}