.custom-layout {
    background-color: #322e2e;
}

.main-div {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.selectors-div {
    width: 70%;
}


.form-select-selectors {
    margin-right: 1em;
    width: fit-content !important;
    min-width: 5em;
}


.series-label {
    font-family: 'Mozilla Headline';
    font-size: larger;
    color: #eff1f1;
    font-weight: bolder;
    margin-bottom: .5em;
}

.calculate-btn {
    margin-top: 1em;
    width: fit-content;
}

.day-div {
    width: auto;
}

.calculated {
    color: green;
    font-weight: bolder !important;
}

.curr-day-div {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.cur-day-text {
    width: fit-content;
    border-radius: 5%;
    font-weight: bold;
    margin-bottom: .5em;
    text-align: center;
}

.div-custom-day {
    margin-top: .5em;
}

.comp-div {
    display: inline-block;
}

.spinner-div {
    margin-left: 1em;
}

.lineups-label {
    font-family: 'Mozilla Headline';
    font-size: larger;
    color: #eff1f1;
    font-weight: bolder;
    margin-bottom: .5em;
    margin-top: 1rem;
}

.sm {
    font-weight: bold !important;
    font-size: medium !important;
}

.lineups-div .btn-lup {
    margin-left: .5rem;
    width: 10rem;
}

.lineups-div .div-lups-btns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-style: solid;
    padding: .5em;
    justify-content: space-around;
}

@media (max-width:800px) {
.lineups-div .div-lups-btns {
    display: block !important;
    }
}

#missingLupModal .modal-content {
    background-color: ivory;
}