.rankings-title {
    font-family: "Mozilla Headline", sans-serif;
    font-size: xx-large;
}

.rankings {
    text-align: center;
}

@media (max-width:800px) {
    .rankings {
        margin: 0.5em;
    }
}


.main-div {
    padding: 3rem !important;
    background: black;
}

@media (max-width:800px) {
    .main-div {
        padding: unset !important;
    }
}

.form-select-selectors {
    width: fit-content !important;
    margin-right: 1em;
}

.form-select-series {
    width: fit-content !important;
}

.rank-teamname {
    font-weight: bolder;
    color: blue;
}

.rank-pt {
    font-weight: bold;
    background: aliceblue !important;
}

.rank-body {
    text-align-last: center;
}

.top-table {
    display: flex;
}

.dt-head-center {   
    text-align: center !important;
}