.can-style {
    border:1px solid #ffffff;
    width: 100%;  
}

.div-container {
    width: auto;
}

.gk-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #efef9c7a;
}

.def-container {
  background-color: #a5d7a585;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 800px) {
    .gk-container {
        flex-direction: column;
    }
}

.pl-div {
  width: 30%;
    background-image: linear-gradient(to bottom, rgb(223, 237, 251),rgb(231, 231, 231));
    display: flex;
    justify-items:center;
    margin: 30px;
    cursor: pointer;
    border-radius: 30px;
    color: #0000;
    font-family: sans-serif;
    font-weight: bold;
    background-blend-mode: difference;
    mix-blend-mode: lighten;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .pl-div {
        margin: 10px;
    }
}

.plr-full {
  cursor: default;
  border-radius: 30px;
  box-shadow: crimson 0 0 10px 5px;
}

.plr-full-r1 {
  display: flex;
}

.plr-full-r2 {
  width: 100%;
}

.plr-full-r3 {
  display: flex;
}

.inputPlyr {
    width: 80%;
    margin:20px;
    background-image: linear-gradient(to bottom, rgb(223, 237, 251),rgb(231, 231, 231));
    color: blue;
    cursor: pointer !important;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    border-color: transparent;
    border: none;
}

.inputFull {
    width: 80%;
    margin:20px;
    background-image: linear-gradient(to bottom, rgb(223, 237, 251),rgb(231, 231, 231));
    /* color: blue; */
    cursor: pointer !important;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    border-color: transparent;
    border: none;
}

.inputFullName {
  border: none;
  text-align: center;
  font-size: larger;
  font-weight: bold; 
  width: 75%;
  background: none;
  color: crimson;
  cursor: pointer !important;
}

.inputFullAmount {
  border: none;
    width: 25%;
    background: none;
    color: crimson;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    cursor: pointer !important;
}

.inputFullExp {
  border: none;
  color: crimson;
  background: none;
  text-align: center;
  width: 100%;
  cursor: pointer !important;
}

.inputFullTeam {
  background: none;
  border: none;
  font-weight: bolder;
  color: crimson;
  text-align: center;
  width: 100%;
  cursor: pointer !important;
}

#modal-ob-search {
    background-image: url('../images/search.png'); /* Add a search icon to input */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 50px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  .modal-header{
    display: flex;flex-direction: row-reverse;
    margin-bottom: 10px;
  }

  .modal-footer {
    margin-top: 5%;
    justify-content: space-around !important;
  }

  #dataList {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #dataList dt {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    cursor: pointer;
  }
  
  #dataList dt:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  .close{
    cursor: pointer;
  }

  .dlg-player {
    width: 50%;
  }

  .modal-avatar {
    border-style: ridge;
  }

  .modal-anag{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
  }

  .modal-bet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-label {
    font-size: larger;
    margin-top: 4%;
  }

  .modal-form-input-bet {
    font-size: xx-large;
    font-weight: bold;
    width: 10%;
    text-align: center;
  }

  .modal-form-input-bettime {
    font-size: larger;
    color: indianred;
    font-weight: bold;
    text-align: center;
  }

  .modal-form-input-anag {
    text-align: center;
    font-weight: bold;
  }

  .plr-div-hidden {
    visibility: hidden;
  }

  .modal-form-input-currentbet {
    margin: 5%;
    display: flex;
    flex-direction: column;
  }

  .modal-label-bestbet {
    margin-left: 2%;
    margin-right: 2%;
  }

  .modal-form-input-betteam {
    font-size: larger;
    color: indianred;
    font-weight: bold;
    text-align: center;
  }

  .modal-form-input-betteamvalue {
    font-size: larger;
    color: indianred;
    font-weight: bold;
    text-align: center;
  }