.main-div {
    background-color: black;
}

.vr-custom {
    width: 1em !important;
    background-color: whitesmoke !important;
    opacity: 0.75 !important;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 2em;
}

@media (max-width:800px) {
    .vr-custom{
         width: 10em !important;
         margin-top: 1em;
         margin-bottom: 1em;
    }
  }

.form-select-custom {
    width: 25% !important;
}

@media (max-width:800px) {
    .form-select-custom{
        width: 100% !important;
    }
  }

.lineups {
    padding: 2.5em;
    display: flex;
    justify-content: center;
}

@media (max-width:800px) {
    .lineups{
        display: block;
        padding: 0;
    }
  }

.main-lineup {
    display: flex;
    flex-direction: column;
}

.secondary-lineup {
    display: flex;
    flex-direction: column;
}

label {
    color: black;
}

.btn-panel {
    display: block;
}

.top-line {
    display: flex;
}

@media (max-width:800px) {
    .top-line{
        display: flex;
        flex-direction: column-reverse;
    }
  }

@media (max-width:800px) {
    .btn-panel{
        margin-bottom: 1.5em;
    }
  }

.mod {
    display: contents;
  }

.cap {
    margin-right: 2em;
  }

  .form-select-player {
    min-width: 12em !important;
    font-size: large !important;
    height: fit-content !important;
  }

.hide-lineup-label {
    color: whitesmoke;
    margin-right: 1em;
    padding: unset;
    overflow: auto;
}


.hide-lineup-div {
    margin-right: 1em;
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
  margin-right: 1em;
  cursor: pointer;
}

.switches {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

@media (max-width:800px) {
    .switches{
        margin-bottom: 1.5em;
    }
  }