.custom-table {
    width: 30%;
    border-spacing: 1em !important;
    /* --bs-table-bg: #515357 !important; */
    color: whitesmoke !important;
    font-weight:bold;
    border-spacing: .5em !important;  
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.dataTables_wrapper {
    margin-left: 3%;
}

.betting-player {
    background-color: gray !important;
    border-bottom-color: currentColor;
    /* mix-blend-mode: color-dodge; */
    /* color: green !important; */
}

.betting-player-expired {
    background-color: rgba(125, 179, 129, 0.8) !important;
    border-bottom-color: currentColor;
    /* mix-blend-mode: color-dodge; */
}

.betting-player-carognata {
    background-color: rgba(171, 176, 124, 0.8) !important;
    border-bottom-color: currentColor;
    /* mix-blend-mode: color-dodge; */
}

.table-caption {
    caption-side:top;
    padding: 10px;
    font-weight: bold;
    border:solid;
    text-align: center;
}
  
#allTeamsTable {
    border-collapse: collapse;
    margin: 20px auto;
    width: auto;
    min-width: 80%;
    color:black;
}
#allTeamsTable td {
 min-height:30px;
 color:black;
}

.spacer-cell {
    background-color: black !important;
    width: 5px !important;
    min-width: 5px !important;
    max-width: 5px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;}

#allTeamsTable th, #allTeamsTable td {
    border: 1px solid #ccc;
    padding: 10px 10px;
    text-align: center;
}

#allTeamsTable th.team-header,
#allTeamsTable td:not(.role-label) {
    padding-left: 10px;
    padding-right: 10px;
}

#allTeamsTable td.role-label {
    background-color: #333;
    color: white;
    vertical-align: middle;
    font-weight: bold;
    width: 5%;
}

#allTeamsTable tr.role-separator td {
    border: none;
    height: 5px;
    background-color: transparent;
    padding: 0;
}
.first_column {
    width:5%;
}
.fixed-width {
    max-width: 30%; /* or whatever value fits your layout */
    text-align: center;
    white-space: nowrap;
}

/* Optional: different background per role block */
.P-row td:not(.role-label),
.P-row th {
    background-color: #D9D9D9;
}

.D-row td:not(.role-label),
.D-row th {
    background-color: #f9f9f9;
}

.C-row td:not(.role-label),
.C-row th {
    background-color: #D9D9D9;
}

.A-row td:not(.role-label),
.A-row th {
    background-color: #f9f9f9;
}

.row-like {
    background-color: #D9D9D9;
}
.spacer td {
  height: 15px;   /* adjust space */
  border: none;   /* remove border if your table has it */
}
