* * * * * python3 /home/django/l4m20/l4m2.0/l4m20/l4m_app/scripts/run_bet_update.py > /dev/null 2>&1

0,30 * * * * /home/django/l4m20/l4m20_venv/bin/python /home/django/l4m20/l4m2.0/l4m20/l4m_app/scripts/live_parser/live_scraper.py /dev/null 2>&1

0 0,12 * * * python3 /home/django/l4m20/l4m2.0/l4m20/l4m_app/scripts/live_parser/upsert_players.py > /dev/null 2>&1

59 23 * * 1 sh /home/dump.sh > /dev/null 2>&1